:root {
    --clr-neon: hsl(317 100% 54%);
}

html,body {
    min-height: 100%;
}

/* background */

#background {
    margin: 0;
    padding: 0;
    color : white;
    background: radial-gradient(
        farthest-corner at 0% 30%, 
        #000000, 
        #040109,
        #090214, 
        #0a0217, 
        #160532, 
        #1a063b);
}

/* wishing */

#wishing {
    display: flex;
    justify-content: center;
}

/* introduction */

.intro-together {
    display: flex;
    justify-content: center;
}

.intro-together h1,h3 {
    margin: 7px;
}

.intro-together h3 {
    position: relative;
    top: 4px;
}

/* cards */

.cards-together {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-image {
    margin-top: 10px;
    width: 90%;
    border-radius: 7px;
}

.info-btn {
    border-radius: 6px;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.45em 2em;
    position: relative;
    top: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.info-btn:hover {
    background-color: rgb(157, 157, 157);
}

/* separate-cards */

.separate-card {
    background: radial-gradient(
        farthest-corner at 0% 30%, 
        #000000, 
        #040109,
        #090214, 
        #0a0217, 
        #160532, 
        #1a063b);
    width: 230px;
    height: 300px;
    border-radius: 14px;
    margin: 20px;
    text-align: center;
    transition: all 400ms;
    position: relative;
}

.separate-card:hover {
    width: 270px;
    height: 330px;
    border: none;
}

.separate-card::before {
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    content: '';
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 16px;
    background-image: linear-gradient(
        var(--rotate), #5ddcff, #3c67ec 43%, #4e00c2, rgb(235, 124, 142));
    z-index: -1;
}

.separate-card::after {
    position: absolute;
    content: '';
    top: 40px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
    transform: scale(0.8);
    filter: blur(55px);
    background-image: linear-gradient(
        var(--rotate), #5ddcff, #3c67ec 43%, #4e00c2, rgb(235, 124, 142));
    opacity: 1;
    transition: opacity 0.5s;
}

.separate-card:hover::after,
.separate-card:hover::before {

    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 135deg;
    inherits: false;
}